.mainContentWrapper {
  margin-top: var(--md-gap);
  display: grid;
}

.mainContent {
  display: flex;
  flex-direction: column;
}

.notesSection {
  flex-direction: column;
  align-items: center;
  display: flex;
  padding-top: var(--lg-gap);
}

.page {
  height: auto;
  background-color: var(--white);
  border: 1px solid #ccc;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
  grid-column: 1;
  grid-row: 1;

  background-image: repeating-linear-gradient(
    var(--white),
    var(--white) 39px,
    var(--blue) 40px
  );
  background-position: center;
}

.addButtonWrapper {
  align-self: end;
  padding-bottom: var(--lg-gap);
  z-index: 999;
}

.title {
  align-self: center;
  margin-top: var(--lg-gap);
  margin-left: var(--lg-gap);
  padding: 0 var(--md-gap) var(--md-gap) var(--md-gap);
  color: var(--red);
  border-bottom: solid 5px;
  border-radius: 73% 27% 62% 38% / 83% 53% 47% 17%;
  z-index: 999;
}

/* Mobile */
@media only screen and (max-width: 400px) {
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/* Desktop */
@media only screen and (min-width: 961px) {
  .notesSection {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .mainContentWrapper {
    margin-top: var(--xxl-gap);
  }

  .notesSection,
  .page {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-content-width);
    width: 100%;
  }

  .first {
    transform: rotateZ(2deg) translateX(20px) translateY(-10px);
    z-index: -1;
  }

  .second {
    transform: rotateZ(-3deg);
    z-index: -1;
  }

  .third {
    transform: rotateZ(-5deg) translateX(-10px);
    z-index: -1;
  }

  .fourth {
    transform: rotateZ(4deg) translateY(20px);
    z-index: -1;
  }
}
