.button {
  /* style */
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50px;
}

.button:hover {
  background-color: var(--gray);
}

.button:active {
  background-color: var(--light-gray);
  transform: translateY(4px);
}

