.button {
  /* style */
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50px;
}

.button:hover {
  background-color: var(--gray);
}

.button:active {
  background-color: var(--light-gray);
  transform: translateY(4px);
}

.backgroundLightGrey {
  background-color: var(--light-gray);
}

.backgroundBlue {
  background: var(--blue);
}

.backgroundRed {
  background: var(--red);
}

.backgroundGreen {
  background: var(--green);
}

.backgroundYellow {
  background: var(--yellow);
}
