.menuWrapper {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  list-style-type: none;
  order: 2;
}

.sideMenu {
  display: flex;
  right: 60px;
  top: 2px;
  order: 1;
}

.horizontalMenu {
  flex-direction: column;
}

.verticalMenu {
  flex-direction: row;
}


.buttonWrapper {
  display: flex;
  align-self: end;
  margin-bottom: var(--sm-gap);
}
