.toDoCart {
  /* position */
  display: flex;
  flex-direction: column;
  margin: var(--md-gap);

  /* style */
  min-width: 150px;
  max-width: 80%;
  min-height: 150px;
  border: solid;
  border-width: 3px 4px 3px 5px;
  border-radius: 97% 3% 92% 8% / 8% 94% 6% 92%;
  transform: rotate(2deg);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.toDoCardTitleContainer {
  transform: rotate(-2deg);
  margin: var(--md-gap) var(--md-gap) 0 var(--md-gap);
}

.toDoCardParagraphContainer {
  transform: rotate(-2deg);
  margin-top: var(--md-gap);
  margin-bottom: var(--md-gap);
  width: 95%;
}

.toDoCardParagraph {
  padding-left: var(--md-gap);
}

.tagSection {
  font-weight: bold;
  max-width: 95%;
  margin-left: var(--md-gap);
}

.menuWarper {
  position: absolute;
  top: var(--md-gap);
  right: var(--sm-gap);
}

.titleTextarea {
  margin-top: var(--md-gap);
  display: flex;
  height: 2.5em;
  transform: rotate(-2deg);
}

.contentTextarea {
  height: 15em;
}

.tagsTextarea {
  transform: rotate(-2deg);
}

/* Mobile */
@media only screen and (max-width: 400px) {
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .toDoCart {
    max-width: 500px;
  }
  .tagSection {
    margin-left: var(--lg-gap);
  }
}

/* Desktop */
@media only screen and (min-width: 961px) {
  .toDoCart {
    max-width: 300px;
  }
}
