/* -- Roboto-Family -- */
@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-ThinItalic-webfont.woff')
    format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-MediumItalic-webfont.woff')
    format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-BlackItalic-webfont.woff')
    format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../static/fonts/roboto/RobotoCondensed-Bold-webfont.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../static/fonts/roboto/RobotoCondensed-BoldItalic-webfont.woff')
    format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../static/fonts/roboto/RobotoCondensed-Light-webfont.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../static/fonts/roboto/RobotoCondensed-LightItalic-webfont.woff')
    format('woff');
  font-weight: 300;
  font-style: italic;
}

/* Fuzzy Bubbles Family */
@font-face {
  font-family: 'Fuzzy Bubbles';
  src: url('../static/fonts/fuzzy-bubbles/fuzzy-bubbles-v3-latin-regular.woff')
    format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fuzzy Bubbles';
  src: url('../static/fonts/fuzzy-bubbles/fuzzy-bubbles-v3-latin-700.woff')
    format('woff');
  font-style: normal;
  font-weight: 700;
}

:root {
  /* colors */
  --blue: rgb(90, 90, 140);
  --green: rgb(90, 140, 90);
  --red: rgb(140, 90, 90);
  --yellow: rgb(240, 190, 50);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --light-gray: rgb(204, 204, 204);
  --gray: rgb(102, 102, 102);
  --dark-gray: rgb(68, 68, 68);

  /* sizes */
  --max-content-width: 1024px;
  --xm-gap: 4px;
  --sm-gap: 8px;
  --md-gap: 16px;
  --lg-gap: 32px;
  --xl-gap: 64px;
  --xxl-gap: 96px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
textarea,
input {
  font-family: 'Fuzzy Bubbles', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 2.5em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 64px;
}

.grey {
  color: var(--gray);
}

.blue {
  color: var(--blue);
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.backgroundLightGrey {
  background-color: var(--light-gray);
}

.backgroundBlue {
  background: var(--blue);
}

.backgroundRed {
  background: var(--red);
}

.backgroundGreen {
  background: var(--green);
}

.backgroundYellow {
  background: var(--yellow);
}

.borderGrey {
  border: solid var(--gray);
}

.borderBlue {
  border: solid var(--blue);
}

.borderRed {
  border: solid var(--red);
}

.borderGreen {
  border: solid var(--green);
}

.borderYellow {
  border: solid var(--yellow);
}
