/* -- Roboto-Family -- */
@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-ThinItalic-webfont.woff')
    format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-MediumItalic-webfont.woff')
    format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-BlackItalic-webfont.woff')
    format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../static/fonts/roboto/RobotoCondensed-Bold-webfont.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../static/fonts/roboto/RobotoCondensed-BoldItalic-webfont.woff')
    format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../static/fonts/roboto/RobotoCondensed-Light-webfont.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../static/fonts/roboto/RobotoCondensed-LightItalic-webfont.woff')
    format('woff');
  font-weight: 300;
  font-style: italic;
}

/* Fuzzy Bubbles Family */
@font-face {
  font-family: 'Fuzzy Bubbles';
  src: url('../static/fonts/fuzzy-bubbles/fuzzy-bubbles-v3-latin-regular.woff')
    format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Fuzzy Bubbles';
  src: url('../static/fonts/fuzzy-bubbles/fuzzy-bubbles-v3-latin-700.woff')
    format('woff');
  font-style: normal;
  font-weight: 700;
}

:root {
  /* colors */
  --blue: rgb(90, 90, 140);
  --green: rgb(90, 140, 90);
  --red: rgb(140, 90, 90);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --light-gray: rgb(204, 204, 204);
  --gray: rgb(102, 102, 102);
  --dark-gray: rgb(68, 68, 68);

  /* sizes */
  --max-content-width: 1024px;
  --xm-gap: 4px;
  --sm-gap: 8px;
  --md-gap: 16px;
  --lg-gap: 32px;
  --xl-gap: 64px;
  --xxl-gap: 96px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fuzzy Bubbles', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 2.5em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.mainContentWrapper {
  margin-top: var(--md-gap);
  display: grid;
}

.mainContent {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  padding-top: var(--ml-gap);
}

.page {
  height: auto;
  background-color: var(--white);
  border: 1px solid #ccc;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
  grid-column: 1;
  grid-row: 1;

  background-image: repeating-linear-gradient(
    var(--white),
    var(--white) 39px,
    var(--blue) 40px
  );
  background-position: center;
}

.first {
  transform: rotateZ(2deg) translateX(20px) translateY(-10px);
  z-index: -1;
}

.second {
  transform: rotateZ(-3deg);
  z-index: -1;
}

.third {
  transform: rotateZ(-5deg) translateX(-10px);
  z-index: -1;
}

.fourth {
  transform: rotateZ(4deg) translateY(20px);
  z-index: -1;
}

.navBar {
  display: flex;
}

.toDoCart {
  /* position */
  display: flex;
  flex-direction: column;
  margin: var(--md-gap);

  /* style */
  max-width: 300px;
  border: solid var(--blue);
  border-width: 3px 4px 3px 5px;
  border-radius: 97% 3% 92% 8% / 8% 94% 6% 92%;
  transform: rotate(2deg);
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.toDoCardTitleContainer {
  transform: rotate(-2deg);
  margin: var(--md-gap) var(--md-gap) 0 var(--md-gap);
}

.toDoCardTitle {
}

.toDoCardParagraphContainer {
  transform: rotate(-2deg);
  margin-top: var(--md-gap);
  margin-bottom: var(--md-gap);
  width: 95%;
}

.toDoCardParagraph {
  padding-left: var(--md-gap);
}

.tagSection {
  font-weight: bold;
  max-width: 95%;
  margin-left: var(--md-gap);
}

.tag {
  display: inline-flex;
  line-height: 1.5em;
  font-weight: bold;
  margin-right: var(--sm-gap);

  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
}

.grey {
  color: var(--gray);
}

.blue {
  color: var(--blue);
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

/* Mobile */
@media only screen and (max-width: 400px) {
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/* Desktop */
@media only screen and (min-width: 961px) {
  .mainContentWrapper {
    margin-top: var(--xxl-gap);
  }

  .mainContent,
  .page {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-content-width);
    width: 100%;
  }
}
