/* -- Roboto-Family -- */
@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-ThinItalic-webfont.woff')
    format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-MediumItalic-webfont.woff')
    format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-BlackItalic-webfont.woff')
    format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../static/fonts/roboto/RobotoCondensed-Bold-webfont.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../static/fonts/roboto/RobotoCondensed-BoldItalic-webfont.woff')
    format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../static/fonts/roboto/RobotoCondensed-Light-webfont.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../static/fonts/roboto/RobotoCondensed-LightItalic-webfont.woff')
    format('woff');
  font-weight: 300;
  font-style: italic;
}

:root {
  /* colors */
  --blue: rgb(90, 90, 140);
  --green: rgb(90, 140, 90);
  --red: rgb(140, 90, 90);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --light-gray: rgb(204, 204, 204);
  --gray: rgb(102, 102, 102);
  --dark-gray: rgb(68, 68, 68);

  /* sizes */
  --header-height: 70px;
  --max-content-width: 1080px;
  --xm-gap: 4px;
  --sm-gap: 8px;
  --md-gap: 16px;
  --lg-gap: 32px;
  --xl-gap: 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 200px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 2.5em;
  background: linear-gradient(90deg, var(--blue) 25%, var(--red) 50%);
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: var(--header-height);
  height: auto;
  background-color: var(--white);
}

.header {
  top: 0px;
  position: fixed;
  width: 100%;
  height: var(--header-height);
  background-color: var(--light-gray);
}

.footer {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  background-color: var(--light-gray);
}

.navBar {
  display: flex;
}

.toDoCart {
  /* position */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: var(--lg-gap);
  margin-left: auto;
  margin-right: auto;

  /* style */
  background-color: #fefdf8;
  border: 4px solid var(--blue);
  height: calc(100% - 40px);
  width: 100%;
}

.toDoCart:last-child {
  margin-bottom: var(--lg-gap);
}

.toDoCardTitleContainer {
  width: 100%;
  background-color: var(--blue);
  padding-bottom: var(--md-gap);
}

.toDoCardTitle {
  text-align: center;
}

.toDoCardParagraphContainer {
  margin-top: var(--md-gap);
  margin-bottom: var(--md-gap);
  width: 95%;
  background-image: repeating-linear-gradient(
    var(--white),
    var(--white) 34px,
    var(--blue) 35px
  );
}

.toDoCardParagraph {
  display: inline;
}

/* Mobile */
@media only screen and (max-width: 400px) {
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/* Desktop */
@media only screen and (min-width: 961px) {
  .mainContent {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-content-width);
    width: 70%;
  }

  .header {
    max-width: var(--max-content-width);
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .footer {
    max-width: var(--max-content-width);
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .toDoCart {
    width: 90%;
  }
}
